<script>
        (()=>{let x=new Date();
        let day=['SUN','MON','TUE','WED','THU','FRI','SAT'];
        let month=['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEPT','OCT','NOV','DEC'];
        let a=day[x.getDay()];
        let b=x.getDate();
        let c=month[x.getMonth()];
        let d=x.getHours();
        let e=x.getMinutes();
        let am='AM';

        if(d>12)
        {
            d-=12;
            am='PM';
        }
        else 
            am='AM';
        if(d<10)
            d=`0${d}`;
        if(e<10)
            e=`0${e}`;
        let y=`${a} | ${b} ${c} | ${d}:${e} ${am}`;
        document.querySelector(".date").innerHTML=y})();
        const myFunc = async(e) => {
            e.preventDefault();
            let city=document.querySelector('.city').value;
            if(city==='')
                document.querySelector('.result').innerHTML="<p>Please enter your city name</p>";
            else
            {
                try{
                    let url=`https://api.openweathermap.org/data/2.5/weather?q=${city}&appid=1fe8a8103a97cc521c14391c23d57422`;
                    const response=await fetch(url);
                    const data=await response.json();
                    let x=data.weather[0].main;
                    let temp=(data.main.temp-273).toFixed(2);
                    if(x=='Clear')
                        document.querySelector('.result').innerHTML=`<div class='newhtml'><h3><em>${x}</em></h3><div class='dynamic'><h1>${temp}&deg;C</h1><i class='fas fa-sun' style='color: yellow'></i></div></div>`;
                    else if(x=='Clouds')
                        document.querySelector('.result').innerHTML=`<div class='newhtml'><h3><em>${x}</em></h3><div class='dynamic'><h1>${temp}&deg;C</h1><i class="fas fa-cloud" style='color: lightblue;'></i></div></div>`;
                    else if(x=='Haze')
                        document.querySelector('.result').innerHTML=`<div class='newhtml'><h3><em>${x}</em></h3><div class='dynamic'><h1>${temp}&deg;C</h1><i class="fas fa-smog" style='color: grey;'></i></div></div>`;
                    else if(x=='Rain')
                        document.querySelector('.result').innerHTML=`<div class='newhtml'><h3><em>${x}</em></h3><div class='dynamic'><h1>${temp}&deg;C</h1><i class="fas fa-cloud-rain" style='color: blue;'></i></div></div>`;
                    else 
                        document.querySelector('.result').innerHTML=`<div class='newhtml'><h3><em>${x}</em></h3><div class='dynamic'><h1>${temp}&deg;C</h1><i class='fas fa-sun' style='color: yellow'></i></div></div>`;
                }
                catch{
                    document.querySelector('.result').innerHTML="<p>Please enter correct city name</p>";
                }
                
        
            }
        }
        document.querySelector('.search').addEventListener('click',myFunc);
    </script>