<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    {{>css}}
</head>
<body>
    {{>navbar}}
    <div class="error">
        <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--_GqDpWw0--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/i/7aqcppklh6bexoa70320.jpg" alt="">
        <h1>The Page you are looking for doesn't exist</h1>
        <button class="check"><a href='/index'>Go Home</a></button>
    </div>
    <footer>
        Project by students of Government College of Engineering, Aurangabad
    </footer>
    
</body>
</html>