<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    {{>css}}
</head>
<body>
    {{>navbar}}
    <div class="about">
        <h1>Mentor:</h1>
        <h2>Prashant Pathak Sir</h2>
        <h1>Team Leader:</h1>
        <h2>Piyush Gupta(BE19F05F018)</h2>
        <h1>Team members:</h1>
        <h2>Saurabh Kolapkar(BE19F05F007)</h2>
        <h2>Rahul Jadhav(BE19F05F022)</h2>
        <h2>Dhiraj Maywade(BE19F05F035)</h2>
    </div>
    <footer>
        <p>Project by students of Government College of Engineering, Aurangabad</p>
    </footer>
    
</body>
</html>