<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    {{>css}}
</head>
<body>
    {{>navbar}}
    <div class="main container-fluid">
        <div class="info">
            <p>Welcome to weather app</p>
            <h2>Get The Latest <span style="color: rgb(0, 183, 255);">Weather</span> Info Of Your City</h2>
            <button class="check"><a href='/weather'>CHECK NOW</a></button>
        </div>
        <div class="image">
            <img src="https://assets.materialup.com/uploads/a0af036b-a724-472a-9940-575e89c722be/preview.gif" alt="" width="550" height="450">
        </div>
    </div>
    <footer>
        Project by students of Government College of Engineering, Aurangabad 
    </footer>
    
</body>
</html>