<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    {{>css}}
</head>
<body>
    {{>navbar}}
    <form class="weather-form">
        <div>
            <div class="text_search">
                <input type="text" placeholder="Enter your city name.." class="city">
                <button class="search">Search</button>
                </input>  
            </div>
        </div> 
        <div class="output">
            <div class="date"></div>
            <div class="result"><p>Get Your Output here</p></div>
        </div> 
    </form>
    <footer>
        Project by students of Government College of Engineering, Aurangabad
    </footer>
    {{>script}}
</body>
</html>